---
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import getSortedPosts from "../utils/getSortedPosts";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import getSortedVideos from "../utils/getSortedVideos";
import type { VideoYoutube } from "../types";
import CardVideos from "../components/CardVideos.astro";
import Button from "../components/Button.astro";
import ArticleIcon from "../components/Icons/ArticleIcon.astro";
import VideoIcon from "../components/Icons/VideoIcon.astro";
import Masthead from "../components/Masthead.astro";
import { GET } from "./videos.json";
const posts = await getCollection("blog");
import Services from "../components/Services.astro";
import Store from "../components/Store.astro";
import Summary from "../components/Summary.astro";
import Slider from "../components/Slider";

let videos = await GET(Astro);
const result = await videos.json();
const sortedVideos = getSortedVideos(result);

const sortedPosts = await getSortedPosts(posts);
 
const siteTitle = "TeamCellMania - Reparación y Venta de Celulares en Azogues y Biblián";
const siteDescription = "Expertos en reparación de celulares, iPhone, Android, Apple Watch, y otros dispositivos electrónicos. Venta de celulares, accesorios y servicios en Azogues y Biblián, Ecuador.";
const siteUrl = "https://www.teamcellmania.com";
const siteKeywords = "Reparación de celulares, venta de celulares, reparación iPhone, reparación Android, accesorios de celulares, Azogues, Biblián, Ecuador";
const contactPhone = "+593 96 364 4323";
const contactEmail = "teamcellmania@gmail.com";
const address = {
  "@type": "PostalAddress",
  "streetAddress": "Luis Cordero Crespo 4-17 y Sucre",
  "addressLocality": "Azogues",
  "addressRegion": "Cañar",
  "postalCode": "030102",
  "addressCountry": "Ecuador"
};
---

<html lang="es" class="scroll-smooth">
  <head>
    <!-- <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> -->
    <title>{siteTitle}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={siteDescription} />
    <meta name="keywords" content={siteKeywords} />
    <meta name="author" content="TeamCellMania" />
    <meta name="robots" content="index, follow" />

    <!-- Metaetiquetas para redes sociales -->
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/path-to-image.jpg" />
    <meta property="og:locale" content="es_EC" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:image" content="/path-to-image.jpg" />

    <!-- Marcado de datos estructurados Schema.org -->
    <script type="application/ld+json">
    {{
      "@context": "https://schema.org",
      "@type": "Store",
      "name": "TeamCellMania",
      "url": {siteUrl},
      "logo": "/path-to-logo.jpg",
      "description": {siteDescription},
      "telephone": {contactPhone},
      "email": {contactEmail},
      "address": {JSON.stringify(address)},
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
          ],
          "opens": "08:00",
          "closes": "20:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "09:00",
          "closes": "13:00"
        }
      ],
      "additionalType": "https://schema.org/CellPhoneStore",
      "areaServed": {
        "@type": "Place",
        "name": "Azogues",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Azogues",
          "addressRegion": "Cañar",
          "addressCountry": "Ecuador"
        }
      },
      "sameAs": [
        "https://www.facebook.com/yourpage",
        "https://www.instagram.com/yourpage",
        "https://twitter.com/yourpage"
      ]
    }}
    </script>

    <!-- Favicon -->
    <link rel="icon" href="/path-to-favicon.ico" />

  </head>
  <Body>
    <Header />
    <main class="pt-[76px]">
      <section class="mx-auto max-w-4xl p-0 md:p-4">
        <Slider client:load />
      </section>
      <Summary articlesLength={sortedPosts.length} />
      <Services />
      <section class="py-12">
        <section class="mx-auto max-w-4xl p-4 my-4">
          <section class="grid grid-cols-1 sm:grid-cols-2 gap-8 md:gap-56">
            <div>
              <div class="sticky top-[76px]">
                <header class="mb-6 items-center ">
                  <h2 class="leading-none font-bold my-6">Revisa nuestros articulos</h2>
                  <p class="text-xl opacity-70">¡Conoce más y mantén tus dispositivos en perfecto estado!"</p>
                </header>
              </div>
            </div>
            <section class="grid grid-cols-1">
              <section class="group">
                {sortedPosts.map((data, index) => index < 3 && (
                  <Card href={`/contenido/articulos/${data.slug}`} frontmatter={data.data} loading="lazy" className="mx-6"/>
                ))}
              </section>
              <div style="--animation-delay: 0.6s" class="items-center fade-up inline-flex justify-end flex-wrap gap-4 mb-6">
                <Button href={"/contenido/articulos"} className="bg-blue-900 items-center">
                  <div class="w-6 fill-zinc-300">
                    <ArticleIcon />
                  </div>
                  <span>Ver mas articulos</span>
                </Button>
              </div>
            </section>
          </section>
        </section>
      </section>
      <Store />
      <Masthead />
      <section class=" mx-auto max-w-4xl p-4 mt-8">
        <header class="flex justify-between mb-6 items-center">
          <h4 class="">Videos</h4>
          <div style="--animation-delay: 0.6s" class="items-center fade-up inline-flex justify-end flex-wrap gap-4">
            <Button href={"contenido/videos"} className="bg-blue-900 items-center">
              <div class="w-6 stroke-white fill-none">
                <VideoIcon />
              </div>
              <span>Ver mas videos</span>
            </Button>
          </div>
        </header>
        <section class="grid grid-cols-2 md:grid-cols-4 gap-4 group">
          {sortedVideos.map((video: VideoYoutube, index: number) => index < 4 && (
            <CardVideos data={video} loading="lazy"/>
          ))}
        </section>
      </section>
      <Footer />
    </main>
  </Body>
</html>
